<h1>The Verge Articles</h1>

<table>
  <tr>
    <th></th>
    <th>Title</th>
    <th>URL</th>
    <th>Published At</th>
  </tr>

  <% count = 0 %>
  <% @articles.each do |article| %>
    <tr>
      <td><%= count += 1 %>.</td>
      <td><%= article.title %></td>
      <td><a href="<%= article.url %>" target="_blank" style="color: black;">Link</a></td>
      <td><%= article&.published_at&.strftime("%F") %></td>
    </tr>
  <% end %>
</table>